<mat-nav-list>
  <div matSubheader>{{ i18n.t('nav.platform') }}</div>
  @for (link of platformLinks; track link.route) {
    @if (link.visible) {
      <a
        mat-list-item
        [routerLink]="link.route"
        routerLinkActive="sidenav-nav-active"
        (click)="onClick()"
      >
        {{ linkLabel(link) }}
      </a>
    }
  }
</mat-nav-list>

@for (group of navGroups; track group.moduleCode) {
  <mat-nav-list>
    <div matSubheader>{{ moduleLabel(group) }}</div>
    @for (item of group.items; track item.code) {
      <a
        mat-list-item
        [routerLink]="menuRoute(item)"
        [queryParams]="menuQueryParams(item)"
        routerLinkActive="sidenav-nav-active"
        (click)="onClick()"
      >
        <mat-icon matListItemIcon>{{ item.icon || 'description' }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    }
  </mat-nav-list>
}

@if (navLoadError) {
  <div class="sidenav-nav__status">
    <p>{{ navErrorMessage() }}</p>
    <button type="button" class="sidenav-nav__retry" (click)="retryNav.emit()">
      {{ i18n.t('common.retry') }}
    </button>
  </div>
} @else if (navEmpty) {
  <div class="sidenav-nav__status">
    <p>{{ i18n.t('shell.nav.empty') }}</p>
  </div>
}
