<mat-nav-list>
  <div matSubheader>Platform</div>
  @for (link of platformLinks; track link.route) {
    @if (link.visible) {
      <a
        mat-list-item
        [routerLink]="link.route"
        routerLinkActive="sidenav-nav-active"
        (click)="onClick()"
      >
        {{ link.label }}
      </a>
    }
  }
</mat-nav-list>

@for (group of navGroups; track group.moduleCode) {
  <mat-nav-list>
    <div matSubheader>{{ group.moduleLabel }}</div>
    @for (item of group.items; track item.code) {
      <a
        mat-list-item
        [routerLink]="menuRoute(item)"
        [queryParams]="menuQueryParams(item)"
        routerLinkActive="sidenav-nav-active"
        (click)="onClick()"
      >
        <mat-icon matListItemIcon>{{ item.icon || 'description' }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    }
  </mat-nav-list>
}
